.Imgcoloredemails-panelIcon {
  background: url("coloredemailsplus.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.cEmail_exampleEmailTable{
font-size:16px;
font-weight:bold;
color:blue;
background-color:#FFFFCC;
font-family:Arial,Helvetica,sans-serif;
width:90%;
border-bottom:1px solid #A7A194;
border-right:1px solid #A7A194;
margin-top:5px;
}

.cEmail_hidden {
display:none
}
.cEmail_shown {
display:block
}
div.cEmailList {
height:220px;
overflow: auto;
background-color:white;
width:100%
}
div.cEmailListOnEdit {
height:220px;
overflow: auto;
width:100%
}
table.emailListTable{
border:none;
width:100%;
border-collapse: collapse;
}
td.colorPreviewCell {
width:30px;
padding:1px 10px 0px 10px;
}
div.prContainer {
padding: 1px 0px;
font-weight:bold;
text-align:center;
width:100%;
}
#cEmail_DelBtnTD{
text-align: right;
}
td.listEmailAuto {
padding-left:5px;
padding-bottom:3px;
padding-top:3px;
font-style: italic;
cursor: pointer;
}
td.listEmailDefault {
padding-left:5px;
padding-bottom:3px;
padding-top:3px;
font-weight: bold;
cursor: pointer;
}
td.listEmail {
padding-left:5px;
padding-bottom:3px;
padding-top:3px;
cursor: pointer;
}
td.listChkbox {
width:15px;
padding-bottom:1px;
padding-top:1px;
padding-left:1px;
}
td.headerChkbox {
width:15px;
}
td.editing {
padding-top: 5px;
padding-bottom: 5px;
}
td.editingTxt {
padding-left: 10px;
padding-top: 5px;
padding-bottom: 5px;
}
td.editingBtn {
width:56px;
padding-right:10px;
padding-top: 5px;
padding-bottom: 5px;
}
input.txtEmail {
width:100%;
}

table.editingTable {
width:100%;
background-color:white;
}
.editButton {
height:22px;
}
td.emailListHeader {
border-color:#595959;
border-style:solid;
border-width:1px;
background-color:#DEDEDE
}
.ca_uoguelph_coloredEmails_help {
   float: right;
}
div.inputDiv{
	clear:both;
}
